@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap");

body {
  font-family: "Inter", sans-serif;
}

.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button.cool {
  background-color: #282c34;
  color: white;
  border: 1px solid white;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.hover-btn {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: 1px solid white;
  padding: 1rem;
  border-radius: 1rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  user-select: none;
}

.hover-btn:hover {
  background-color: white;
  color: #282c34;
}
